{% extends "csv.html" %}
{% load static %}


    {% block title %}
    <title>
        Certificate generator
    </title>
    <style>
        {% for i in fonts %}
            @font-face {
          font-family: '{{i.name}}';
          src: url('{{i.fpath}}');
        }
        {% endfor %}
        </style>
    {% endblock %}
   
    {% block content %}
    <div id="loader" style="z-index: 9999;" class="center"></div> 
    <section id="sec1">
            <div class="container" style="margin-top: 5%; padding-left: 40%;width: 70%;">
                <div class="col" style="justify-content: space-evenly; width: 65%;">
                  <div class="w3-card w3-white w3-padding-32 w3-round col-lg-3">
                    <div  class="feature-item w3-center">
                      <i class="w3-center fa fa-file-image-o"></i>
                      <h3 class="text">Upload certifcate template</h3>
                      <div class="button-wrap">
                        <label class ="new-button" for="uploadimage"><i class="fa fa-upload" style="font-size: 18px;padding:10px; height: 40px; width: 40px;"></i> Upload Template
                            <input type='file' accept="image/*" class="w3-margin" name='img' size='65' id='uploadimage' />
                      <div>
                      
                    </div>
                </div>
              </div>
      
    </section>
    <div id="forminput">
        <form action="/generate" style="display:none" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="formimg" name="image">
            <input type="text" name="key" value="{{secret}}">
            <input type="text" id="config" name="config">
        </form>
    </div>

    <section id="sec2" style="display: none;">
        <div class="instruction w3-padding w3-text-black">
            <h1 class="w3-center w3-text-blue">Instruction</h1>
            <ol>
                <li>Select a point on the output image</li>
                <li>On the model that appear select the point where text needs to be displayed</li>
                <li>Press apply to save the points</li>
                <li>After you have done all the changes click on the Generate all button below.</li>
            </ol>
            <button class="w3-btn w3-round w3-blue w3-block w3-display-bottommiddle" id="generate">Generate all</button>
        </div>
        <div class="result">
            <div id="container">
                <canvas id="canvas" class="w3-center" width="842" height="595" style="border:3px solid black">Loading
                    Image....</canvas>
            </div>
        </div>
    </section>
    <div class="w3-modal" id="textmodal">
        <div class="w3-modal-content w3-round w3-card w3-padding" style="width:500px;">
            <div class="w3-container">
                <select name="keys" id="keys">
                    {% for i in headers %}
                    <option value="">{{i}}</option>
                    {% endfor %}
                </select>
                <select name="fonts" id="fonts">
                    {% for i in fonts %}
                <option value="" style="font-family:'{{i.name}}'">{{i.name}}</option>
                    {% endfor %}
                </select>

                <input type="color" id="color"  name="color">

                <select name="fontsize" id="fontsize">
                </select>
                <input type="text" id="coordinates" readonly class="w3-input w3-margin w3-border">
                <input type="text" id="textfield" class="w3-input w3-margin" placeholder="Enter text">
                <button class="w3-btn w3-round w3-blue w3-margin w3-right" id="addpoint">Apply</button>
                <button class="w3-btn w3-round w3-red w3-margin w3-right"
                    onclick="$('#textmodal').hide()">Cancel</button>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    window.addEventListener("load",()=>{
        for(counter=10;counter<72;counter+=2){
            $("#fontsize").append("<option>"+counter+"</option>");
        }
    });
    localStorage.setItem("key", "{{secret}}");
    $("#generate").on("click", () => {
        temp = String(image);
        $("#formimg").val(image);
        $("#config").val(JSON.stringify(config));
        $("#forminput form").submit();
        localStorage.clear();
        $("#loader").show();
    });

</script>
<script> 
    document.onreadystatechange = function() { 
        if (document.readyState !== "complete") { 
            document.querySelector( 
              "body").style.visibility = "hidden"; 
            document.querySelector( 
              "#loader").style.visibility = "visible"; 
        } else { 
            document.querySelector( 
              "#loader").style.display = "none"; 
            document.querySelector( 
              "body").style.visibility = "visible"; 
        } 
    }; 
</script> 
{% endblock %}
</html>