{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Generator</title>
    <link rel="stylesheet" href="{% static 'w3css.css' %}">
</head>
<body>
<div class="container w3-display-middle w3-center">
  <h1 class="w3-title">Certificate Generator</h1>
  <h3>Generate bulk Certificates in three clicks !</h3>
  <span style="margin-top:20px;">
  <button class="w3-btn w3-padding w3-green w3-round-large"><a style="text-decoration: none;" href="{% url 'login' %}">Log In</a></button>
  <button class="w3-btn w3-blue-grey w3-padding w3-round-large"><a style="text-decoration: none;" href="{% url 'signup' %}">Sign up</a></button>
</span>
</div>
</body>
</html>