{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        Certificate generator
    </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <section id="sec1">
        <input type='file' class="w3-display-middle" name='img' size='65' id='uploadimage' />
    </section>
    <div id="forminput">
        <form action="/generate" style="display:none" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="formimg" name="image">
            <input type="text" name="key" value="{{secret}}">
            <input type="text" id="config" name="config">
        </form>
    </div>

    <section id="sec2" style="display: none;">
        <div class="instruction w3-padding w3-text-black">
            <h1 class="w3-center w3-text-blue">Instruction</h1>
            <ol>
                <li>Select a point on the output image</li>
                <li>On the model that appear select the point where text needs to be displayed</li>
                <li>Press apply to save the points</li>
                <li>After you have done all the changes click on the Generate all button below.</li>
            </ol>
            <button class="w3-btn w3-round w3-blue w3-block w3-display-bottommiddle" id="generate">Generate all</button>
        </div>
        <div class="result">
            <div id="container">
                <canvas id="canvas" class="w3-center" width="842" height="595" style="border:3px solid black">Loading
                    Image....</canvas>
            </div>
        </div>
    </section>
    <div class="w3-modal" id="textmodal">
        <div class="w3-modal-content w3-round w3-card w3-padding" style="width:500px;">
            <div class="w3-container">
                <select name="keys" id="keys">
                    {% for i in headers %}
                    <option value="">{{i}}</option>
                    {% endfor %}
                </select>
                <input type="text" id="coordinates" readonly class="w3-input w3-margin w3-border">
                <input type="text" id="textfield" class="w3-input w3-margin" placeholder="Enter text">
                <button class="w3-btn w3-round w3-blue w3-margin w3-right" id="addpoint">Apply</button>
                <button class="w3-btn w3-round w3-red w3-margin w3-right"
                    onclick="$('#textmodal').hide()">Cancel</button>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'script.js' %}"></script>
<script>
    localStorage.setItem("key", "{{secret}}");
    $("#generate").on("click", () => {
        temp = String(image);
        $("#formimg").val(image);
        $("#config").val(JSON.stringify(config));
        $("#forminput form").submit();
        localStorage.clear();
    });
</script>

</html>