* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.nav {
    position:fixed;
    top:0px;
    height:50px;
    z-index: 1000;
    box-shadow: 3px 0px 25px 3px #000 ;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

section {
    position: fixed;
    top:50px;
    height: calc(100% - 50px);
    width:100%;
}

.instruction {
    height: 100%;
    position: absolute;
    right:0px;
    margin:0px;
    width:300px;
    background-color: rgb(221, 212, 212);
    border-left: 2px solid black;
    box-shadow: 0px -5px 20px 5px #333;
}
.instruction ol li {
    margin-left:20px;
    margin-top:10px;
    font-size: 20px;
}
.result {
    position: absolute;
    height:100%;    
    width:calc(100%-300px);
    top:0px;
    left:0px;

}

.result #container {
    position: absolute;
    height: 595px;
    width: 842px;
    border: 2px solid #333;
    background-color: teal;
}

.result canvas {
    position: absolute;
}

.objects {
    position: absolute;
    z-index: 10;
}

.clickable {
    cursor: pointer;
    font-weight: bolder;
    background:#333;
    color:#fff;
    padding:2px;
    opacity: 0;
}
.objects:hover .clickable {
    opacity: 1;
    
}

.close {
    position: absolute;
    right:0px;
    background-color: red !important;
    top:0px;
    font-size: 16px;
    border-radius: 100%;
    transform: translate(15px,-20px);

}

.left {
    position:absolute;
    left:-20px;
    top:50%;
    transform: translateY(-50%);
}
.top {
    position:absolute;
    left:50%;
    top:-20px;
    transform: translateX(-50%);
}
.down {
    position:absolute;
    left:50%;
    bottom:-20px;
    margin-top:5px;
    transform: translateX(-50%);
}
.right {
    position:absolute;
    right:-20px;
    top:50%;
    transform: translateY(-50%);
}

.box {
    width:20px;
    height:20px;
    position: absolute;
    margin-right:5px;
}