{% extends "registration/login.html" %}
{% load static %}
{% block title %}
<title>Reset Passoword</title>
{% endblock %}
{% block content %}
            <h2 class="text-center" id="a1">Reset Password</h2>
        <form class="form-signin" method="post">
            {% csrf_token %}
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div id="message"></div>
            {{ form.as_p }}
            <button class="btn btn-primary btn-block btn-lg btn-signin" name="login" type="submit" style="background: rgb(244,71,107);">Reset password</button>
            <br>
            <div class="text-center">
            <a class="text-center forgot-password" href="{% url 'login'%}">Login </a>
            &nbsp;.&nbsp;
            <a class="text-center forgot-password" href="{% url 'signup'%}">Signup </a>
    </form>
    {% endblock %}

