<!DOCTYPE html>
<html>
{% load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'Pass_reset_styles.min.css'%}">
</head>

<body>
    <!-- Start: Recuperar Password mloureiro1973 -->
    <div class="login-card">
        <div>
            <h2 class="text-center"></h2>
        </div><img class="img-fluid profile-img-card" src="{% static '/img/avatar_2x.png'%}">
        <p class="profile-name-card"> </p>
        <form class="form-signin" action="recuperarPassword.php" method="post"><input class="form-control" type="email" id="inputEmail" name="email" required="" placeholder="Email" autofocus=""><button class="btn btn-primary btn-block btn-lg btn-signin" name="login" type="submit" style="background: rgb(244,71,107);">Reset password</button></form>
        <a
            class="forgot-password" href="{% url 'login'%}">Login </a>
    </div>
    <!-- End: Recuperar Password mloureiro1973 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>