<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup_styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/new-age.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
  <div id="loader" class="center"></div> 
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="https://github.com/Developer-Students-Club-ABESEC"><img src="https://i.ibb.co/3SQDQgM/DSC-ABES-Engineering-College-Light-Horizontal-Logo.png" alt="DSC-ABES-Engineering-College-Light-Horizontal-Logo" width="300" height="50" border="0"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://dsc.community.dev/abes-engineering-college/">Our Team</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <header class="masthead">
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form action="/accounts/signup/" method="post">
             {% csrf_token %}
                <h2 class="text-center" id="a1">Create an account.</h2>
                {% for field in form %}
                <p>
                  {{ field.label_tag }}<br>
                  {{ field }}
                  <br>
                  {% if field.help_text %}
                    <small style="color: white">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="{% url 'login' %}">You already have an account? Login here.</a></form>
        </div>
    </div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script> 
      document.onreadystatechange = function() { 
          if (document.readyState !== "complete") { 
              document.querySelector( 
                "body").style.visibility = "hidden"; 
              document.querySelector( 
                "#loader").style.visibility = "visible"; 
          } else { 
              document.querySelector( 
                "#loader").style.display = "none"; 
              document.querySelector( 
                "body").style.visibility = "visible"; 
          } 
      }; 
  </script> 
  </body>

</html>